@using Microsoft.AspNetCore.Identity
@using Album.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <button class="sign" >
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span class="sign2">Xin chào @UserManager.GetUserName(User)!</span>
            </a>
        </button>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <span class="sign" ><button id="logout" type="submit" class="nav-link btn btn-link text-dark"><span class="sign2">Đăng xuất</span></button></span>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <button class="sign"><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"><span class="sign2">Đăng ký</span></a></button>
    </li>
    <li class="nav-item">
        <button class="sign"><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"><span class="sign2">Đăng nhập</span></a></button>
    </li>
}
</ul>
