@page
@model _NET_project0.Pages_Menu.DeleteModel

@{
    ViewData["Title"] = "Xóa món";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa món này không?</h3>
<div>
    <h4>Thông tin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Content)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Menu.ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại danh sách</a>
    </form>
</div>
