@page 
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}


    <div class="autoplay">
                    <div><img class="img" src="anh1.jpg" /></div>
                    <div><img class="img" src="anh2.jpg" /></div>
                    <div><img class="img" src="anh3.jpg" /></div>
                </div>
                <div class="infor"><div><h4>DỊCH VỤ</h4></div><hr class="hr" />
                <div>Nhà hàng Hoài Nam chuyên cung cấp các món ăn hải sản khắp các thành phố lớn</div></div>
                 <div class="autoplay2">
                    <div><img class="img" src="nhahang.jpg" />DỊCH VỤ ĐẶT BÀN</div>
                    <div><img class="img" src="anh2.jpg" />MÓN ĂN CHẤT LƯỢNG</div>
                    <div><img class="img" src="lienhoan.jpg" />TỔ CHỨC LIÊN HOAN</div>
                </div>
                <div class="khauhieu">
                    <div class="infor"><div><h4>TẠI SAO LỰA CHỌN CHÚNG TÔI</h4></div><hr class="hr" />      
                <div><img class="img2" src="nhahang.jpg" /></div>
                 <div>Với 10 năm kinh nghiệm trong lĩnh vực nhà hàng, chúng tôi luôn đặt uy tín, chất lượng lên hàng đầu<br /> 
                        Đảm bảo trải nghiệm món ăn tuyệt vời, an toàn thực phẩm tuyệt đối cho quý khách hàng<br /> 
                        Khi cần đặt hàng quý khách vui lòng lựa chọn các dịch vụ sẵn có, hoặc liên hệ: 0342162027</div>
                        <img class="banner" src="banner.png" />
                </div>
                <script>
        $('.autoplay').slick(
            {
 slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
  prevArrow:"<div class='button1'><button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button><div>",
            nextArrow:"<button type='button' class='button2' ><i class='fa fa-angle-right' aria-hidden='true'></i></button>"
}
        );
    </script> 
       <script>
        $('.autoplay2').slick(
            {
 slidesToShow: 2,
  autoplay: true,
  autoplaySpeed: 2000,
  prevArrow:"<div class='button1'><button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button><div>",
            nextArrow:"<button type='button' class='button2' ><i class='fa fa-angle-right' aria-hidden='true'></i></button>"
}
        );
    </script> 

